body {
    background: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    background-image: url(../images/s1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fill;
}

ul {
    list-style-type: none;
    color: lime;
}

