{% extends "base.jinja" %}

{% block content %}
    <h2> Blog </h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione sed excepturi itaque fugiat dignissimos? Repellat illum iusto quas odit fuga!</p>
{% endblock %}