{% extends "base.jinja" %}

{% block content %}
    <h3>Welcome to World Soccer Fantasy</h3>
    {% for soccer_fantasy in cdn['soccer_fantasy']%}
        <span>{{ soccer_fantasy }} </span>
    {% endfor %}
    <h3> Players</h3>
    {% for top_player in cdn['top_player']%}
        <p>{{ top_player }} </p>
    {% endfor %}
{% endblock %}
