{% extends "base.jinja" %}

{% block content %}
    <h2>Login</h2>
    <main>
        <div class="login-row">
            <form action="" method="POST">
            {{ login.hidden_tag() }}
            <p>
                {{ login.username.label }}<br/>
                {{ login.username(size=32) }}
            </p>
            <p>
                {{ login.password.label }}<br/>
                {{ login.password(size=32) }}
            </p>
            <p>
                {{ login.remember_me.label }}<br/>
                {{ login.remember_me(size=10) }}
            </p>
            <p> 
                {{ login.submit(class='btn btn-primary') }}
            </p>
            </form>
        </div>
    </main>
{% endblock %}

