<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('main.index')}}">Soccer Fantasy</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="{{ url_for('main.index')}}">Home</a>
        <a class="nav-link" href="{{ url_for('main.about') }}">About</a>
        {% if current_user.is_active %}
        <a class="nav-link" href="{{ url_for('social.user', username=current_user.username) }}">Profile</a> 
        <a class="nav-link" href="{{ url_for('social.player') }}">Player</a>
        <a class="nav-link" href="{{ url_for('social.blog') }}">Blog</a>
        <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
        {% else %}
        <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
        <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>