{% extends "base.jinja" %}

{% block content %}
    <h2>Player</h2>
    <form action="" method="POST">
        {{ player.hidden_tag() }}
        <p>
        {{ player.first_name.label}} <br>
        {{ player.first_name(size=32)}}
        </p>
        <p>
        {{ player.last_name.label}} <br>
        {{ player.last_name(size=32)}}
        </p>
        <p>
        {{ player.team_name.label}} <br>
        {{ player.team_name(size=32)}}
        </p>
        <p>
        {{ player.position.label}} <br>
        {{ player.position(size=32)}}
        </p>
        <p>
        {{ player.age.label}} <br>
        {{ player.age(size=32)}}
        </p>
        <p>
        {{ player.nationality.label}} <br>
        {{ player.nationality(size=32)}}
        </p>
        <p>
        {{ player.price.label}} <br>
        {{ player.price(size=32)}}
        </p>
        <p>
        {{ player.date_created.label}} <br>
        {{ player.date_created(size=32)}}
        </p>
        <p> {{ player.submit(class='btn btn-primary') }}</p>
    </form>
{% endblock %}