{% extends "base.jinja" %}

{% block content %}
    <h2>Register</h2>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <p>
        {{ form.username.label}}
        {{ form.username(size=32)}}
        </p>
        <p>
        {{ form.email.label}}
        {{ form.email(size=32)}}
        </p>
        <p>
        {{ form.password.label}}
        {{ form.password(size=32)}}
        </p>
        <p>
        {{ form.confirm_password.label}}
        {{ form.confirm_password(size=32)}}
        </p>
        <p> {{ form.submit(class='btn btn-primary') }}</p>
    </form>
{% endblock %}